<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transferencia</title>
    <link rel="stylesheet" href="/static/format.css">
  </head>
  <body>
    <div id="mensaje"></div>
    <h1>Realizar una tranferencia</h1>
    <form id="my-form" action="/submit" method="post">
      <!-- Campos del formulario -->
      <input
        type="text"
        name="cuentaDestino"
        placeholder="Numero de tarjeta destino"
      />
      <input type="number" name="monto" id="moneyInput" placeholder="$0.0" />
      <input type="text" name="descripcion" placeholder="descripcion" />
      <!-- Agregar más campos aquí si es necesario -->
      <button type="submit">Enviar</button>
    </form>

    <script src="/static/Transferencia/fetch.js"></script>
  </body>
</html>
