<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Crear cuenta empleado</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/inicio/indexcss.css" />
  </head>
  <body class="bg-light text-light">
    <header class="header text-secondary">
      <div class="container header__container">
        <div class="header__logo">
          <img
            class="header__img"
            src="https://image.ibb.co/kcVou6/path3000.png"
          />
          <h1 class="header__title">
            Banca<span class="header__light"> Facil</span>
          </h1>
        </div>

        <div class="header__menu text-secondary">
          <ul class="nav justify-content-end header__elenco" id="navbar">
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="header__el header__el--blue">
              <a href="http://localhost:3000/login" class="btn btn--white"
                >Log in →</a
              >
            </li>
          </ul>
        </div>
      </div>
    </header>

    <p id="mensaje" class="text-secondary"></p>
    <div id="mensajeError" class="text-danger"></div>
    <div id="mensajeErrorDetalle" class="text-danger"></div>
    <div class="container bg-secondary rounded-3 dark-text-primary-emphasis">
      <form
        id="client-form"
        action="/crearCuentaEmpleado"
        method="post"
        class=""
      >
        <div class="container my-5 row">
          <div class="col">
            <div class="my-2 row">
              <div class="col">
                <label for="exampleFormControlInput1" class="form-label"
                  >Nombre</label
                >
                <input
                  type="text"
                  name="Nombre"
                  id="Nombre"
                  class="form-control"
                  placeholder="Nombre"
                />
              </div>
              <div class="col">
                <label for="exampleFormControlInput1" class="form-label"
                  >Apellido</label
                >
                <input
                  type="text"
                  name="Apellido"
                  id="Apellido"
                  class="form-control"
                  placeholder="Apellido"
                />
              </div>
            </div>

            <div class="my-2">
              <label for="exampleFormControlInput1" class="form-label"
                >Telefono</label
              >
              <input
                type="tel"
                name="Telefono"
                id="telefono"
                class="form-control"
                placeholder="Telefono"
              />
            </div>

            <label for="exampleFormControlInput1" class="form-label"
              >Correo</label
            >
            <input
              type="text"
              name="Correo"
              class="form-control"
              id="Correo"
              placeholder="Correo Electronico"
            />

            <label for="exampleFormControlInput1" class="form-label"
              >Genero</label
            >
            <select
              type="text"
              name="Gnero"
              class="form-control"
              id="generoSelect"
              placeholder=""
            >
              <option value="M">M</option>
              <option value="F">F</option>
              <option value="F">X</option>
            </select>

            <div class="my-2">
              <label for="exampleFormControlInput1" class="form-label"
                >Fecha de nacimiento</label
              >

              <input
                type="date"
                name="Fechadenacimiento"
                id="Fecha"
                class="form-control"
                placeholder="Fecha de Nacimiento"
              />
            </div>

            <div class="my-2">
              <label for="exampleFormControlInput1" class="form-label"
                >RFC</label
              >
              <input
                type="text"
                name="RFC"
                id="RFC"
                class="form-control"
                placeholder="RFC"
                aria-describedby="rfcrev"
                disabled
              />
              <p id="rfcrev" class="form-text text-body-emphasis">
                Tu RFC es unico y no se puede modificar.
              </p>
            </div>
          </div>

          <div class="col my-4">
            <div class="my-2">
              <div class="my-2 row">
                <div class="col">
                  <label
                    for="exampleFormControlInput1"
                    class="form-label text-sm"
                    >Codigo Postal</label
                  >
                  <input
                    type="text"
                    name="codigopostal"
                    id="codigopostal"
                    class="form-control"
                    placeholder="Codigo Postal"
                    onkeyup="buscarInformacionPorCodigoPostal()"
                  />
                </div>
                <div class="col">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Estado</label
                  >
                  <input
                    type="text"
                    name="estado"
                    id="estadoInput"
                    class="form-control"
                    placeholder="Estado"
                  />
                </div>
                <div class="col">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Municipio</label
                  >
                  <input
                    type="text"
                    name="municipio"
                    id="municipioInput"
                    class="form-control"
                    placeholder="Municipio"
                  />
                </div>
              </div>

              <div class="my-2 row">
                <div class="col">
                  <label for="exampleFormControlSelect1" class="form-label"
                    >Colonia</label
                  >
                  <select
                    name="colonia"
                    id="coloniaSelect"
                    class="form-select"
                  ></select>
                </div>
                <div class="col">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Dirección
                  </label>
                  <input
                    type="text"
                    name="Direccion"
                    class="form-control"
                    placeholder="Direccion"
                  />
                </div>
                <div class="col">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Numero de casa</label
                  >
                  <input
                    type="text"
                    name="Numero"
                    id="NumeroDeCasa"
                    class="form-control"
                    placeholder="Direccion"
                  />
                </div>
              </div>
            </div>

            <div class="my-2">
              <label for="exampleFormControlInput1" class="form-label"
                >Puesto</label
              >
              <select
                type="text"
                name="Puesto"
                class="form-control"
                id="puestoSelect"
                placeholder="Selecciona un puesto"
              >
                <option value="Cajero">Cajero</option>
                <option value="Gerente">Gerente</option>
                <option value="Administrador">Administrador</option>
              </select>
            </div>
          </div>
        </div>

        <button
          type="submit"
          id="submit-button"
          class="btn btn-primary w-25 position-absolute start-50 translate-middle"
        >
          Crear Cliente
        </button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="/static/viewsEmpleado/crearCuentaEmpleado/fetch.js"></script>
    <script src="/static/viewsEmpleado/crearCuentaEmpleado/validaciones.js"></script>
    <script src="/static/FormNewClient/estados.js"></script>
  </body>
</html>
