<!--TODO: Validacion de usuario y contraseña, llenado de direccion con codigo postal-->

<!DOCTYPE html>
<html>
<head>
    <title>Formulario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/inicio/indexcss.css">
</head>
<body class="bg-light text-light">


    <header class="header text-secondary">
    <div class="container header__container">
        <div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png"> <h1 class="header__title">Banca<span class="header__light">  Facil</span></h1></div> 
    
        
        <div class="header__menu text-secondary">
            <ul class="nav justify-content-end header__elenco" id="navbar">
                <li class="nav-item">
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="header__el header__el--blue"><a href="http://localhost:3000/login" class="btn btn--white">Log in →</a></li>
            </ul>
        </div>
    </div>
    </header>


    <div class="container bg-secondary rounded-3 dark-text-primary-emphasis  ">
        <form id="client-form" action="/client_register" method="post" class="">
            <div class="container my-5 row">
            
                <div class="col my-4">
                    <div class = "my-2 row" >
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                            <input type="text" name="Nombre" id="Nombre"class="form-control" placeholder="Nombre">
                        </div>
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                            <input type="text" name="Apellido" id="Apellido" class="form-control" placeholder="Apellido">
                        </div>
                    </div>
            
                    <div class="my-2">                
                        <label for="exampleFormControlInput1" class="form-label">Telefono</label>
                        <input type="tel" name="Telefono" id ="telefono" class="form-control" placeholder="Telefono">
                    </div>
            
                    <label for="exampleFormControlInput1" class="form-label">Correo</label>
                    <input type="text" name="Correo" class="form-control"  id ="Correo" placeholder="Correo Electronico">
            
                    <div class="my-2">                
                        <label for="exampleFormControlInput1" class="form-label">Fecha de nacimiento</label>
                        
                        <input type="date" name="Fechadenacimiento" id="Fecha" class="form-control" placeholder="Fecha de Nacimiento">
                    </div>

                    <div class="my-2">
                        <label for="exampleFormControlInput1" class="form-label">RFC</label>
                        <input type="text" name="RFC" id= "RFC" class="form-control" placeholder="RFC"  aria-describedby="rfcrev" disabled>
                        <div id="rfcrev" class="form-text">
                        Tu RFC es unico y no se puede modificar.
                        </div>
                    </div>
            
                    
                </div>

                <div class="col my-5">
                    <div class="my-2">
                            <div class = "my-2 row" >
                                <div class="col">
                                    <label for="exampleFormControlInput1" class="form-label text-sm">Codigo Postal</label>
                                    <input type="text" name="codigopostal" id="codigopostal"class="form-control " placeholder="Codigo Postal">
                                </div>
                                <div class="col">
                                    <label for="exampleFormControlInput1" class="form-label">Estado</label>
                                    <input type="text" name="estado" id="estadoInput"class="form-control" placeholder="Estado">
                                </div>
                                <div class="col">
                                    <label for="exampleFormControlInput1" class="form-label">Municipio</label>
                                    <input type="text" name="municipio" id="municipioInput" class="form-control" placeholder="Municipio">
                                </div>
                            </div>


                        <label for="exampleFormControlInput1" class="form-label">Direción y número de casa</label>
                        <input type="text" name="Direccion" class="form-control" placeholder="Direccion">
                    </div>
                    
            
                    <div class="my-2">
                        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                        <input type="text" name="Usuario" class="form-control" placeholder="Usuario">
                    </div>
            
                    <div class="my-2">
                        <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                        <input type="password" name="Contraseña" class="form-control" placeholder="Contraseña" aria-describedby="ayudaContraseña">
                            <div id="ayudaContraseña" class="form-text">
                            Tu Contraseña debe contener de 8 a 20 caracteres, contender  letras y numeros, y no debe contener espacios o emojis. 
                        </div>
                    </div>
                </div>

            </div>
            
            
            <button type="submit" id="submit-button" class="btn btn-primary w-25 position-absolute  start-50 translate-middle ">Crear Cliente</button>
            
            

        </form>
    </div>
    
    <a href="http://localhost:3000/login" class="  position-absolute start-50  my-5 translate-middle">Tienes cuenta ya? Inicia Sesion </a>

    <p id="mensaje" class="text-secondary"></p> <!-- Elemento para mostrar el mensaje -->
    <div id="mensajeError" class="text-danger"></div>
    <div id="mensajeErrorDetalle" class="text-danger "></div>


    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src= "/static/FormNewClient/datosllenados.js"></script>
    <script src="/static/FormNewClient/controladosform.js"></script>
    <script src="/static/FormNewClient/validaciones.js"></script>
    <script src = "/static/FormNewClient/estados.js"></script>    


</body>
</html>
