<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes en sucursal</title>
    <!-- Agrega el enlace a Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyDX..."
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./public/css/dashClientesEmp.css" />
  </head>
  <body>
    <div class="container">
      <div class="section1">
        <div class="subsec1">
          <div class="item0">
            <img
              class="img"
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29uYXxlbnwwfHwwfHx8MA%3D%3D"
              alt=""
            />
            <div class="data-user">
              <p class="name">Mi nombre</p>
              <p class="tpu">Gold</p>
            </div>
          </div>
          <div class="item1" id="item">
            <i class="active bi bi-house"></i>
            <a href="#" class="active">Dashboard</a>
          </div>
          <div class="item1 id="item"">
            <i class="inactive bi bi-credit-card"></i>
            <a href="/clientesEnSucursal" class="inactive">Clientes</a>
          </div>
          <div class="item1" id="item">
            <i class="inactive bi bi-chat-left-text"></i>
            <a href="#" class="inactive">Messages</a>
          </div>
          <div class="item1" id="item">
            <i class="inactive bi bi-hdd-stack"></i>
            <a href="#" class="inactive">Services</a>
          </div>
        </div>
        <div class="subsec2">
          <div class="item2">
            <i class="inactive bi bi-box-arrow-left"></i>
            <a href="/logoutEmpleado" class="inactive">Log out</a>
          </div>
        </div>
      </div>
      <div class="section2">
        <h2>Clientes:</h2>
        <div class="container">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% usuario[0].clientes.forEach(function(cliente) { %>
              <tr>
                <td><%= cliente.cliente_id %></td>
                <td><%= cliente.nombre %></td>
                <td><%= cliente.apellido %></td>
                <td>
                  <a
                    href="/editarCliente/<%= cliente.cliente_id %>"
                    class="btn btn-primary"
                  >
                    Editar cliente
                  </a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
     
  
      </div>
    </div>


    <!-- Agrega el enlace a Bootstrap JS y Popper.js al final del cuerpo -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-TwQF/ZIB8sxtAad2fLtPDpK8fGnd6ZqLH5bDhrCbYANe9zJfV8dU8+dCS0eMCw"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyDX..."
      crossorigin="anonymous"
    ></script>
  </body>
</html>
