<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
  />
    <link rel="stylesheet" href="./public/css/dashboardStyles.css">
  </head>
  <body>
    <header class="header">
      <div class="container2 header__container">
        <div class="header__logo">
          <img
            class="header__img"
            src="https://image.ibb.co/kcVou6/path3000.png"
          />
          <h1 class="header__title">
            Banca<span class="header__light"> Facil</span>
          </h1>
        </div>
<!--   
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= usuario[0].nombre %>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav> -->
      </div>
    </header>
<!--     
    <h2>Servicios:</h2>
    <ul>
      <% usuario[0].servicios.forEach(function(servicio) { %>
        <li>Servicio ID: <%= servicio.servicio_id %></li>
        <li>Nombre de Servicio: <%= servicio.nombredeservicio %></li>
        <li>Concepto: <%= servicio.concepto %></li>
      <% }); %>
    </ul>

    <h1>VISTA</h1>
    
    <a href="/transferencia">Realizar una transferencia</a>
    <a href="/tarjeta">Solicitar una tarjeta de crédito</a>
    <a href="/tarjetaDebito">Solicitar una tarjeta de débito</a>
    <a href="/seguro">Seguro</a>
    <a href="/credito">Solicitar un crédito</a>
    <a href="/ahorro">Crear una cuenta de ahorro</a>
    <a href="/logout">Cerrar sesión</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
