<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/format.css">
    <title>Document</title>
</head>
<body>
    <h1>Pantalla para solicitar un ahorro</h1>
        <p id = "mensaje"></p>
        <form action="/crearAhorro" method="post" id="form-ahorro">
            <label for="nombre">Nombre del ahorro:</label>
            <input type="text" name="NombreDelAhorro" id = "NombreDelAhorro" placeholder="Nombre">
            <label for="Plazo">Seleccione un plazo</label>
            <select name="plazos" id="plazos">
                <option value = "1 mes">1 mes</option>
                <option value = "6 meses">6 meses</option>
                <option value = "3 meses">1 año</option>
                <option value = "4 meses">2 años</option>
                <option value = "5 meses">5 años</option>
            </select>

            <label for="monto">Monto:</label>
            <input type="number" name="monto" placeholder="Monto" id = "monto">
            <button type = "submit">Crear ahorro</button>
        </form>

    <script src ="/static/ahorro/ahorrofetch.js"></script>
</body>
</html>