<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png" />
    <meta name="theme-color" content="#1885ed" />
    <title>Configuración</title>
    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
    <link rel="stylesheet" href="/static/format.css">
    <link rel="stylesheet" href="/static/Configuracion/configuracion.css" />
    <link rel="stylesheet" href="./public/css/dashboardStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" </head>
</head>

<body>
    <header class="header">
        <div class="container2 header__container">
            <div class="header__logo">
                <img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png" />
                <h1 class="header__title">
                    Banca<span class="header__light"> Facil</span>
                </h1>
            </div>
        </div>
    </header>

    <div class="container__nav">
        <div class="section1">
            <div class="subsec1">
                <div class="item0">
                    <i class="img bi bi-person-circle"></i>
                    <div class="data-user">
                        <p class="name"><%= usuario[0].nombre %></p>
                        <p class="tpu"><%= usuario[0].tipo_cuenta%></p>
                    </div>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi-house"></i>
                    <a href="/perfil" class="inactive">Inicio</a>
                </div>
                <div class="item1 id=" item"">
                    <i class="inactive bi bi-credit-card"></i>
                    <a href="/pagos" class="inactive">Pagos</a>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi bi-cash-coin"></i>
                    <a href="/depositar" class="inactive">Depósitos</a>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi-bank"></i>
                    <a href="/retirar" class="inactive">Retiros</a>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi-lungs"></i>
                    <a href="/seguro" class="inactive">Seguro</a>
                </div>
                <div class="item1" id="item">
                    <i class="active bi bi-gear"></i>
                    <a href="/config" class="active">Configuración</a>
                </div>
            </div>
            <div class="subsec2">
                <div class="item2">
                    <i class="inactive bi bi-box-arrow-left"></i>
                    <a href="/logout" class="inactive">Cerrar sesión</a>
                </div>
            </div>
        </div>
        
        <div class="seccion__config">
            <h2 class="uppercase">Configuración de la cuenta</h2>

            <div class="config-form-container">
                <h3 class="h3__config" >Cambiar foto de perfil</h3>
                <form id="cambiarFotoForm" class="config-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="lbl" for="nuevaFoto">Subir nueva foto de perfil:</label>
                        <input type="file" id="nuevaFoto" name="nuevaFoto" accept="image/*" required>
                    </div>
                    <button class="btn__all btn__all--inside uppercase" type="submit">Cambiar Foto de Perfil</button>
                </form>
            </div>

            <div class="config-form-container">
                <h3 class="h3__config">Cambiar contraseña</h3>
                <form action="/cambiarContrasena" method="post" id="cambiarContrasenaForm" class="config-form">
                    <div class="form-group">
                        <label class="lbl" for="actualContrasena">Contraseña actual:</label>
                        <input class="txt__all" type="password" id="actualContrasena" name="actualContrasena" required>
                    </div>
                    
                    <div class="form-group">
                        <label class="lbl" for="nuevaContrasena">Nueva contraseña:</label>
                        <input class="txt__all" type="password" id="nuevaContrasena" name="nuevaContrasena" required>
                    </div>
                    
                    <div class="form-group">
                        <label class="lbl" for="confirmarContrasena">Confirmar contraseña:</label>
                        <input class="txt__all" type="password" id="confirmarContrasena" name="confirmarContrasena" required>
                    </div>
                    
                    <button class="btn__all btn__all--inside uppercase" type="submit">Cambiar Contraseña</button>
                </form>
                <p id="mensajeContrasena"></p>
            </div>
            
            <div class="config-form-container">
                <h3 class="h3__config">Cambiar correo</h3>
                <form id="cambiarCorreoForm" class="config-form">
                    <div class="form-group">
                        <label class="lbl" for="nuevoCorreo">Nuevo correo electrónico:</label>
                        <input class="txt__all" type="email" id="nuevoCorreo" name="nuevoCorreo" required>
                    </div>
                    <button class="btn__all btn__all--inside uppercase" type="submit">Cambiar Correo Electrónico</button>
                </form>
                <p id="mensajeCorreo"></p>
            </div>
            
            <div class="config-form-container">
                <h3 class="h3__config">Cambiar número de teléfono</h3>
                <form id="cambiarTelefonoForm" class="config-form">
                    <div class="form-group">
                        <label class="lbl" for="nuevoTelefono">Nuevo número de teléfono:</label>
                        <input class="txt__all" type="tel" id="nuevoTelefono" name="nuevoTelefono" pattern="[0-9]{10}" placeholder="Ingrese un número de teléfono de 10 dígitos" required>
                    </div>
                    <button class="btn__all btn__all--inside uppercase" type="submit">Cambiar Número de Teléfono</button>
                </form>
                <p id="mensajeTelefono"></p>
            </div>
        </div>
    </div>

    <script src="/static/Configuracion/configuracion.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/Javascript/Home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/cropperjs"></script>
</body>

</html>