<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png" />
  <meta name="theme-color" content="#1885ed" />
  <title>Homepage</title>
  <link rel="stylesheet" href="/static/inicio/indexcss.css" />
</head>

<body>
  <header class="header">
    <div class="container header__container">
      <div class="header__logo">
        <img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png" />
        <h1 class="header__title">
          Banca<span class="header__light"> Facil</span>
        </h1>
      </div>

      <div class="header__menu">
        <nav id="navbar" class="header__nav collapse">
          <ul class="header__elenco">
          <!-- 
            <li class="header__el">
              <a href="http://localhost:3000/servicios" class="header__link">Servicios</a>
            </li>
            <li class="header__el">
              <a href="http://localhost:3000/" class="header__link">Home</a>
            </li>
          -->
            <li class="header__el">
              <a href="http://localhost:3000/nuevocliente" class="header__link">Crear Cuenta</a>
            </li>
            <li class="header__el header__el--blue">
              <a href="http://localhost:3000/login" class="btn btn--white">Log in →</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="sect sect--padding-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site">
            <h1 class="site__title">
              Confía en nosotros para hacer realidad tus sueños financieros.
            </h1>
            <h2 class="site__subtitle">
              Tu futuro financiero está en buenas manos con BancaFacil
            </h2>
            <h2 class="site__subtitle">Banco 100% digital</h2>

            <div class="site__box-link">
              <a class="btn btn--width" href="http://localhost:3000/nuevocliente">Crear una cuenta</a>
              <a class="btn btn--revert btn--width" href="">Contactanos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sect sect--padding-bottom">
    <div class="container">
      <div class="row row--center">
        <h1 class="row__title">Nuestros servicios</h1>
        <h2 class="row__sub">Servicios que se ajustan a ti.</h2>
      </div>
      <div class="row row--center row--margin">
        <div class="col-md-4 col-sm-4 price-box price-box--purple">
          <div class="price-box__wrap">
            <div class="price-box__img"></div>
            <h1 class="price-box__title">Cuentas Débito</h1>

            <p class="price-box__feat">Características</p>
            <ul class="price-box__list">
              <li class="price-box__list-el">Centro de ayuda 24hrs</li>
              <li class="price-box__list-el">Sin limite de transferencias</li>
              <li class="price-box__list-el">0% comisiones</li>
            </ul>
            <a class="btn btn--width" href="http://localhost:3000/login">Contrata Ahora</a>
          </div>
        </div>
        <!-- second -->
        <div class="col-md-4 col-sm-4 price-box price-box--violet">
          <div class="price-box__wrap">
            <div class="price-box__img"></div>
            <h1 class="price-box__title">Cuentas Crédito</h1>

            <ul class="price-box__list">
              <li class="price-box__list-el">0% por comision de apertura</li>
              <li class="price-box__list-el">Sin anualidad</li>
              <li class="price-box__list-el">
                Cashback del 1% en todas tus compras
              </li>
              <li class="price-box__list-el">Centro de ayuda 24hrs</li>
            </ul>
            <a class="btn btn--width" href="http://localhost:3000/login">Contrata Ahora</a>
          </div>
        </div>

        <!-- terzo -->
        <div class="col-md-4 col-sm-4 price-box price-box--blue">
          <div class="price-box__wrap">
            <div class="price-box__img"></div>
            <h1 class="price-box__title">Ahorros y prestamos</h1>

            <ul class="price-box__list">
              <li class="price-box__list-el">La mejor taza anual</li>
              <li class="price-box__list-el">Sin comisiones ocultas</li>
              <li class="price-box__list-el">No tasks limit</li>
              <li class="price-box__list-el">No contractors limit</li>
              <li class="price-box__list-el">Flexibilidad</li>
            </ul>
            <a class="btn btn--width" href="http://localhost:3000/login">Contrata Ahora</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="sect sect--white sect--no-padding">
    <div class="container">
      <div class="row row--center">
        <div class="col-md-3 col-xs-6 col-sm-6 partner">
          <a href="#" class="partner__link">
            <img class="partner_img" src="https://image.ibb.co/mOtHRw/fblogo.png" />
          </a>
        </div>

        <div class="col-md-3 col-xs-6 col-sm-6 partner">
          <a href="#" class="partner__link">
            <img class="partner_img" src="https://image.ibb.co/nfpXRw/twitterlogo.png" />
          </a>
        </div>

        <div class="col-md-3 col-xs-6 col-sm-6 partner">
          <a href="#" class="partner__link">
            <img class="partner_img" src="https://image.ibb.co/imgOYb/googlelogo.png" />
          </a>
        </div>

        <div class="col-md-3 col-xs-6 col-sm-6 partner">
          <a href="#" class="partner__link">
            <img class="partner_img" src="https://image.ibb.co/ebGAeG/dribbblelogo.png" />
          </a>
        </div>
      </div>
      <div class="row row--center">
        <div class="col-md-3 col-xs-6 col-sm-6 partner">
          <a href="#" class="partner__link">
            <img class="partner_img" src="https://image.ibb.co/cGyZ6w/stacklogo.png" />
          </a>
        </div>

        <div class="col-md-3 col-xs-6 col-sm-6 partner">
          <a href="#" class="partner__link">
            <img class="partner_img" src="https://image.ibb.co/ij03zG/inlogo.png" />
          </a>
        </div>

        <div class="col-md-3 col-xs-6 col-sm-6 partner">
          <a href="#" class="partner__link">
            <img class="partner_img" src="https://image.ibb.co/ekqdzG/codepenlogo.png" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-6">
          <img class="footer__img" src="https://image.ibb.co/kcVou6/path3000.png" />
          <h1 class="footer__title">
            Banca<span class="footer__light">.facil</span>
          </h1>
        </div>
      </div>
    </div>
  </footer>

  <script src="/static/inicio/indexview.js"></script>
</body>
</html>