<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reliza un deposito</h1>
    <p id="mensaje"></p>
    <form action="/deposito" method="post" id="deposito-form">
        <input type="number" name="cantidad" id="cantidad" placeholder="Cantidad a depositar">
        <button type="submit" >Deposita</button>
    </form>

    <script src ="/static/deposito/depositofetch.js"></script>
</body>
</html>