<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in Empleado</title>
  </head>
  <body>
    <form action="/loginEmpleado" id="formlogin" method="post">
      <input type="text" name="usernameEmpleado" placeholder="username" />
      <input type="password" name="passwordEmpleado" placeholder="password" />
      <button type="submit">Enviar</button>
    </form>
    <script src="/static/viewsEmpleado/loginEmpleado/fetch.js"></script>
  </body>
</html>
