<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in Empleado</title>
  </head>
  <body>
    <form action="/loginEmpleado" id="formlogin" method="post">
      <label for="emailEmplado">Correo</label>
      <input type="email" name="emailEmplado" placeholder="Correo" />
      <label for="emailEmplado">ID empleado</label>
      <input type="text" name="idEmpleado" placeholder="idEmpleado" />
      <button type="submit">Enviar</button>
    </form>
    <script src="/static/viewsEmpleado/loginEmpleado/fetch.js"></script>
  </body>
</html>
