<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar seguro</title>
    <link rel="stylesheet" href="/src/views/services/services.css" />
    <link rel="stylesheet" href="/static/format.css">
</head>
<body>

<h1>Solicita un seguro</h1>

<form action ="/solicitudSeguro" method ="post" id="seguro-form">
    <label for="nombre">Tu nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="fechaNacimiento">Tu fecha de nacimiento:</label>
    <input type="date" id="fechaNacimiento" name="fechaNacimiento" placeholder="DD/MM/AAAA" required>

    <label for="rangoIngreso">Elige tu rango de ingreso mensual:</label>
    <select id="rangoIngreso" name="rangoIngreso" required>
        <option value="0-20000">De 0 a 20,000 MXN</option>
        <option value="20001-50000">De 20,001 a 50,000 MXN</option>
        <option value="50001+">Mayor a 50,000 MXN</option>
    </select>

    <label>Enfermedades preexistentes:</label>
    <label for="enfermedad1">Diabetes, hipertensión arterial u obesidad mórbida.</label>
    <input type="checkbox" id="enfermedad1" name="enfermedades" value="diabetes">
    <label for="enfermedad2">Cáncer, tumores malignos, leucemia o lupus.</label>
    <input type="checkbox" id="enfermedad2" name="enfermedades" value="cancer">
    <label for="enfermedad3">Insuficiencia hepática, cirrosis hepática, hepatitis B o C, insuficiencia renal o pancreatitis.</label>
    <input type="checkbox" id="enfermedad3" name="enfermedades" value="insuficiencia">
    <label for="enfermedad4">Enfisema, bronquitis, tuberculosis, enfermedad pulmonar obstructiva 
        crónica (EPOC) o enfermedades infecciosas relacionadas al aparato respiratori</label>
    <input type="checkbox" id="enfermedad4" name="enfermedades" value="pulmonar">
    

    <label for="sumaAsegurada">Suma asegurada sugerida:</label>
    <input type="text" id="sumaAsegurada" name="sumaAsegurada" value="500,000" readonly> MXN
    <p>Modifícalo hasta por <span id="maxSumaAsegurada">3,000,000</span> MXN según tus necesidades.</p>

    <h2>Resumen de compra</h2>

    <p>12 pagos mensuales de <span id="pagoMensual">385.23</span> MXN</p>
    <p>Total anual: <span id="totalAnual">4,622.76</span> MXN</p>
    <p>Quedas protegido por <span id="proteccion">500,000</span> MXN</p>

    <p>Puedes elegir la forma de pago que más te convenga.</p>

    <button type="submit">Proceder con el pago</button>
</form>
<p id = "mensaje"></p>

<script src="/static/services/services.js"></script>
</body>
</html>



